<div class="h-100 p-5 mb-4 bg-light border rounded-3">
      <div class="container-fluid py-5 <%= @api_color %>">
        <h1 class="display-5 fw-bold"><%= @final_output %></h1>
        <p class="col-md-8 fs-4">This is the current ozone air-quality readout for my neighborhood..</p>
        <hr class="my-4" />
        <p><%= @api_message %></p>
        <br />
      </div>
    </div>
</div>